{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Services</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Service</th>
							<th>Price</th>
							<th>Catagory</th>
						</tr>
						{% for i in service %}
					<tr>
						<td>{{i.Service}}</td>
						<td>{{i.price}}</td>
						<td>{{i.Catagory}}</td>


					</tr>
				{% endfor %}
					</table>
				</div>
			</div>

		</div>

{% endblock content %}